<% @notes.each do |note| %>
  <div> 
  <h4>Post It #<%=  " #{note.id} on #{note.posted_at}" %><h4>
  <p>
  <%= note.body %>
  <p>
  &nbsp;&mdash;&nbsp;
  <%= link_to("edit", edit_note_path(note.id)) %>
  -
  <%= link_to("delete", note_path(note.id), method: :delete, data: {confirm: "Are you sure you want to delete #{note.id}?"}) %>
  </div>
<% end %>
